In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import random
import math

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation

A popular wisdom states that more children are born during certain phases of the lunar cycle, especially during the full moon. A classification of the number of births according to the lunar cycle was done in 2005.
A sample of the number of births during different lunar cycles is given below.  
Is there a relationship between the lunar phase and the number of births?

In [2]:
dfmoon = pd.DataFrame(data={'lunar_phase': ['new moon', 'young crescent', 'first quarter', 'waxing moon', 'full moon', 'waning moon', 'last quarter', 'ashen moon'],
                            'number_of_days': [24, 152, 24, 149, 24, 150, 24, 152],
                            'number_of_births': [7680, 48442, 7579, 47814, 7711, 47595, 7733, 48230]})

dfmoon.head(10)

      lunar_phase  number_of_days  number_of_births
0        new moon              24              7680
1  young crescent             152             48442
2   first quarter              24              7579
3     waxing moon             149             47814
4       full moon              24              7711
5     waning moon             150             47595
6    last quarter              24              7733
7      ashen moon             152             48230

In [11]:
# Total births and days
total_births = dfmoon['number_of_births'].sum()
total_days = dfmoon['number_of_days'].sum()

# Expected births proportional to number of days
dfmoon['expected_births'] = dfmoon['number_of_days'] * (total_births / total_days)
print(dfmoon.head())

# Chi-squared test
chi2_stat, p_value = stats.chisquare(f_obs=dfmoon['number_of_births'], f_exp=dfmoon['expected_births'])

print(f"Chi-squared Statistic: {chi2_stat:.2f}")
print(f"P-value: {p_value:.4f}")

      lunar_phase  number_of_days  number_of_births  expected_births
0        new moon              24              7680      7649.236052
1  young crescent             152             48442     48445.161660
2   first quarter              24              7579      7649.236052
3     waxing moon             149             47814     47489.007153
4       full moon              24              7711      7649.236052
Chi-squared Statistic: 6.31
P-value: 0.5039